body, div, h1, h2, h3, h4, h5, h6, p, ul, li, a, img {
	margin: 0;
	padding: 0;
    border: 0;
    outline: 0;
	font: 14px/1.4em 'Open Sans',sans-serif;
	color: #333333;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0;
}
.background {
	width: 100%;
	background: url(images/bg_previous.png) 50% 0% / cover repeat space scroll rgb(255, 255, 255);
}
header {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	border-bottom: 10px solid #777777;
}

h1 {
	font: bold 100px/1.4em Lobster,cursive;
	color: #0B7F36;
	text-align: center;
}
h2 {
	font: 70px/1.4em Lobster,cursive;
	color: #0B7F36;
	text-align: center;
}
h3 {
	font: normal 50px/1.4em Lobster,cursive;
	color: #0B7F36;
}
h4 {
	font: bold italic 60px/1.4em 'Open Sans',sans-serif;
	line-height: 60px;
	padding-bottom: 15px;
	color: #0B7F36;
}
h5 {
	font-weight: bold;
	font-size: 35px;
	text-align: justify;
}
h6 {
	font: italic 35px/1.4em 'Open Sans',sans-serif;
	text-align: center;
}
p {
	font-size: 30px;
	text-align: justify;
}
span {
	font-weight: bold;
}
.menu {
	display: block;

}
.menu li {
	display: block;
	font-size: 50px;
}
.menu a{
	display: block;
	width: 100%;
	height: 100px;
	overflow: visible;
	cursor: pointer;
	vertical-align: top;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	font-weight: bold;
}
.menu a:hover {
	background: #0B7F36;
	color: #FFFF66;
}
.aCurrent {
	background: #777777;
	color: #FFFF66;
}
.main {
	width: 100%;
}
.mainContent_1 {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}
main ul {
	font-size: 35px;
	list-style-type: disc;
	padding-left: 1.3em;
	margin-left: 0.5em;
}
main ul li {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: normal;
}
.tree img {
	width: 0px !important!;
	height: 0px !important;
}
footer {
	width: 100%;
	height: 100px;
	background-color: #FFFF66;
	border-top: 50px solid #FFFFFF;
	border-bottom: 50px solid #FFFFFF;
	text-align: center;
}
footer p{
	line-height: 100px;
	font-size: 35px;
	font-style: italic;
	color: #0B7F36;
	text-align: center;
}