/*@media screen and(min-width: 1600px) {*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, li, a, img {
	margin: 0;
	padding: 0;
    border: 0;
    outline: 0;
	font: 14px/1.4em 'Open Sans',sans-serif;
	color: #333333;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0;
}

.background {
	width: 100%;
	background: url(images/bg_previous.png) 50% 0% / cover no-repeat space scroll rgb(255, 255, 255);
}

header {
	padding-top: 75px;
	padding-bottom: 75px;
	display: table;
	width: 1060px;
	min-width: 1060px !important;
	max-width: 1060px !important;
	margin: auto;
	text-align: center;
}
.headerRow {
	display: table-row;
}
.headerCell_1 {
	display: table-cell;
	width: 360px;
	border-left: 7px solid #666666;
	padding-left: 5px;
}
.headerCell_2 {
	display: table-cell;
	width: 700px;
	vertical-align: top;
	list-style-type: none;
}
.menu {
	display: inline-block;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
}

main {
	width: 1060px;
	min-width: 1060px !important;
	max-width: 1060px !important;
	margin: auto;
}

h1 {
	font: bold 60px/1.4em Lobster,cursive;
	color: #0B7F36;
}
h2 {
	font: 49px/1.4em Lobster,cursive;
	color: #0B7F36;
	text-align: center;
}
h3 {
	font: normal 24px/1.4em Lobster,cursive;
	color: #0B7F36;
}
h4 {
	font: bold italic 35px/1.4em 'Open Sans',sans-serif;
	line-height: 35px;
	padding-bottom: 15px;
	color: #0B7F36;
}
h5 {
	font-weight: bold;
	font-size: 18px;
}
h6 {
	font: italic 22px/1.4em 'Open Sans',sans-serif;
}

p {
	font-size: 14px;
}
span {
	font-weight: bold;
}
h3 a {
	font: inherit;
	color: #0B7F36;
	text-decoration: underline;
	vertical-align: text-top;
}
a:hover {
	background: #FFFF66;
}
header li {
	display: inline-block;
	font-size: 14px;
}
header a {
	display: inline-block;
	width: 138px;
	height: 30px;
	overflow: visible;
	cursor: pointer;
	vertical-align: top;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
}
main ul {
	font-size: 14px;
	list-style-type: disc;
	padding-left: 1.3em;
	margin-left: 0.5em;
}
main ul li {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: normal;
}
header a:hover {
	background: #0B7F36;
	color: #FFFF66;
}
.aCurrent {
	background: #777777;
	color: #FFFF66;
}
.mainContent_1 {
	width: 500px;
}
.mainContent_1 h2 {
	text-align: left;
}
.mainContent_4 {
	width: 460px;
}
.mainContent_4 h2{
	text-align: left;
}
.mainContent_5 {
	width: 400px;
}
.mainContent_5 h2{
	text-align: left;
}
.box_1 {
	width: 500px;
	border-left: 5px solid #FFFF66;
	padding-left: 10px;
}
.mainTable {
	display: table;
}
.mainRow {
	display: table-row;
}
.mainCell_1 {
	display: table-cell;
	width: 590px;
	text-align: center;
}
.mainCell_1 ul, .mainCell_1 ul li {
	display: block;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	list-style-type: disc;
	padding-left: 10px;
	text-align: left;
}
.mainCell_2 {
	display: table-cell;
	width: 470px;
	text-align: center;
	padding: 20px;
}
.box_5 {
	width: 260px;
	border-top: 5px solid #FFFF66;
	border-bottom: 5px solid #FFFF66;
}
.map {
	position: absolute;
	top: 480px;
	height: 500px;
	width: 500px;
	left: 600px;
	outline: 3px solid #0B7F36;
}
.tree {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 120px;
	height: 638px;
	width: 520px;
	left: 650px;
}
.tree img {
	position: relative;ß
}
.green {
	color: #0B7F36;
}
.line {
	border-bottom: 5px solid #FFFF66;
}
.mainTable p {
	font-weight: bold;
	font-size: 18px;
}
footer {
	width: 100%;
	height: 145px;
	background-color: #FFFF66;
	border-top: 25px solid #FFFFFF;
	text-align: center;
}
footer p {
	line-height: 145px;
	font-size: 15px;
	font-style: italic;
	color: #0B7F36;
}
.m_class {
	width: 60%;
	margin: 0 auto;
	text-align: justify;
}
.center {
	text-align: center;
} /*
}



@media screen and(max-width: 1599px) {
	body, div, h1, h2, h3, h4, h5, h6, p, ul, li, a, img {
	margin: 0;
	padding: 0;
    border: 0;
    outline: 0;
	font: 14px/1.4em 'Open Sans',sans-serif;
	color: #333333;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0;
}
.background {
	width: 100%;
	background: url(images/bg_previous.png) 50% 0% / cover repeat space scroll rgb(255, 255, 255);
}
header {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	border-bottom: 10px solid #777777;
}

h1 {
	font: bold 100px/1.4em Lobster,cursive;
	color: #0B7F36;
	text-align: center;
}
h2 {
	font: 70px/1.4em Lobster,cursive;
	color: #0B7F36;
	text-align: center;
}
h3 {
	font: normal 50px/1.4em Lobster,cursive;
	color: #0B7F36;
}
h4 {
	font: bold italic 60px/1.4em 'Open Sans',sans-serif;
	line-height: 60px;
	padding-bottom: 15px;
	color: #0B7F36;
}
h5 {
	font-weight: bold;
	font-size: 35px;
	text-align: justify;
}
h6 {
	font: italic 35px/1.4em 'Open Sans',sans-serif;
	text-align: center;
}
p {
	font-size: 30px;
	text-align: justify;
}
span {
	font-weight: bold;
}
.menu {
	display: block;
}
.menu li {
	display: block;
	font-size: 50px;
}
.menu a{
	display: block;
	width: 100%;
	height: 100px;
	overflow: visible;
	cursor: pointer;
	vertical-align: top;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	font-weight: bold;
}
.menu a:hover {
	background: #0B7F36;
	color: #FFFF66;
}
.aCurrent {
	background: #777777;
	color: #FFFF66;
}
.main {
	width: 100%;
}
.mainContent_1 {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}
main ul {
	font-size: 35px;
	list-style-type: disc;
	padding-left: 1.3em;
	margin-left: 0.5em;
}
main ul li {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: normal;
}
.tree img {
	width: 0px !important!;
	height: 0px !important;
}
footer {
	width: 100%;
	height: 100px;
	background-color: #FFFF66;
	border-top: 50px solid #FFFFFF;
	border-bottom: 50px solid #FFFFFF;
	text-align: center;
}
footer p{
	line-height: 100px;
	font-size: 35px;
	font-style: italic;
	color: #0B7F36;
	text-align: center;
}
}*/